.babtn{
    height: 78.82353210449219px;
    width: 276px;
    margin-left: 47px;
    border: none;
    border-radius: 100px;
    font-size: roboto;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    
}
.babtn:hover{
    scale: 1.05;
    transition: all;
    transition-duration: 0.4s;
    transition-property: all;
}
#ba2-out-circle{
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  height: 600px;
  width: 600px;
  
left: 785px;
top: 83px;
transform: translateX(100px);
border: 40px solid #4359FA;

}
#ba2blur{
    filter: blur(200px);
    
   
}
#ba3stripe{
    transform: rotate(29.35deg);
  
}
.cards-box{
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display:"flex";
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 90px;
    margin-right: 90px;
   
   

}
.cards-box h1{
    font-size: 28px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    
}

/* style={{margin:"210px 0px 46px 47px",position:"relative",fontSize:"45px",fontFamily:"Poppins",fontWeight:"700"}} */

.ban-container{
    display: flex;
    
    justify-content: space-between;
   padding: 0px 50px;
    height: calc(100vh - 80px);
    padding-top: 100px;
    
    
}
.ban-con-container{
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    
    
}
.banner-content{
    margin-top: 80px;
    justify-content: space-between;
    width: 50vw;
}
.banner-btn{
    margin-top: 100px;
}
.ban-des{
    font-size: 25px;
    font-family: roboto;
    
    font-weight: bold;
    line-height: 40px;
}
.ban-h{
    font-size: 50px;
    font-weight: bold;
    font-family: roboto;
   
    transform: translateY(40px);
}
.ban-img{
    height: 550px;
    width: 550px;
    object-fit: contain;
}



@media all and (max-width:480px){

.ban-container{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 40px;
    width: 100vw;
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20vh);
}
.ban-h{
font-size: 25px;
text-align: center;

width: 100%;

}
.ban-des{
 font-size: 16px;

 text-align: center;
 width: 100vw;
 line-height: 25px;
 padding: 0 0;
 

 transform: translateX(0px);
}
.ban-img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-top: 80px;
}
.ban-des-con{
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    padding: 10px;
   
}
.banner-content{
    width: 100vw;
}
.banner-btn-contauner{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    transform: translateY(-70px);
}
}
