
 
 
 

.product-container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    
}
.product-information-container{
    display: flex;
}



.image-card{
    height: 342px;
    width: 325px;
    background-color: rgb(122, 122, 122);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    left: 100px;
    border-radius: 5px;
    
    
}
.product-image{
    position: absolute;
    height: 310px;
    width: 310px;
    object-fit: contain;
}
.other-image-container{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    width: 325px;
   
    position: relative;
    left: 100px;
}
.other-images{
    background-color: rgb(111, 111, 111);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.products-informations{
    /* position: relative;
    top: 100px;
   left: 100px; */
   display:flex ;
   flex-direction: column;
   margin-top:130px;
}
.products-title{
    font-size: 35px;
    font-weight: 500;
    font-style: Mitr;
}
.product-price{
    font-size: 30px;
   font-weight: bold;
    font-style: Mitr;
    margin-top: 20px;
}
.product-des{
    margin-top: 20px;
    font-size: 25px;
    font-style: Mitr;
}
.product-clr{
    margin-top: 20px;
    font-size: 20px;
    font-style: Mitr;
}
.available-clr{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.ft-box{
    height: 50px;
    width: 140px;
    border: 2px solid #117FFF;
    display: flex;
    align-items: center;
    justify-content: center;



}
.features-box{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    font-size: 20px;
    font-family: Mitr;
    font-weight: 500;
   text-align: center;
}
.prd-card-btn{
    height: 44px;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    color:white;
    
    margin-right: 60px;
    cursor: pointer;
}
.prd-card-btn:hover{
     scale: 1.1;
     transition: all;
     transition-duration: 0.4s;
}
.prd-btn{
  display: flex;
  margin-top: 40px;
}


















.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  
  
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  
}
.bubbly-button:hover{
  box-shadow: 0 2px 25px rgba(255, 0, 132, 0.448);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media all and (max-width:480px){
  .product-information-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .products-informations{
    justify-content: center;
  
    width: 100vw;


  }
  .product-title,.product-price,.product-des{
    text-align: center;
  }

  .prd-btn{
    justify-content: space-between;
    margin-left: 50px;
    
  }
  .product-des{
    font-size: 16px;
  }
  .product-title{
    font-size: 30px;
  }
  .prd-btn button{
    font-size: 16px;
    height: 40px;
  }
  .ft-box{
    width: 200px;
    
    font-size: 16px;
  }
  .prd-hh1{
    font-size: 20px;
    padding: 20px;
  }

  
}
